/* html {
  background-color: rgb(21, 22, 23);
}

.App {
  text-align: center;
  height: 100vh;
  color: white;
}

#show-players-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-div {
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 50, 55);
  width: 400px;
  height: 500px;
  border-radius: 25px;
  margin: 14px;
  padding: 28px;
}

.player-div input {
  border: none;
  resize: none;
  outline: none;
  color: white;
  width: 100%;
}

.score-input-div {
  display: flex;
  flex-direction: row;
}

.player-title-input {
  font-size: 50px;
  text-align: center;
  background-color: transparent;
  margin: 4px;
}
.player-score-input {
  font-size: 40px;
  background-color: black;
  border-radius: 10px;
  width: 10px;
  margin: 4px;
}
.player-notes-input {
  height: 500px;
  font-size: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  resize: none;
  outline: none;
  margin: 4px;

}

button {
  font-size: 30px;
  width: 250px;
  background: none;
  color: white;
  border: none;
} */